<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbb592">  <td>19/06/07 11:34:48</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUpSuite()[pri:0, instance:com.prakat.Exide.TestScripts.ClickOnAddNew@13deb50e]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/06/07 11:34:48</td>   <td>188</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeTest()[pri:0, instance:com.prakat.Exide.TestScripts.ClickOnAddNew@13deb50e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>19/06/07 11:34:56</td>   <td>8151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickOnAddNew.ClickAddNew()[pri:0, instance:com.prakat.Exide.TestScripts.ClickOnAddNew@13deb50e]">ClickAddNew</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/06/07 11:35:29</td>   <td>40474</td> <td title="&lt;&lt;BaseTest.endReport()[pri:0, instance:com.prakat.Exide.TestScripts.ClickOnAddNew@13deb50e]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
